/**
 * Default CSS file for the website.
 *
 * Author: Dave Eddy <dave@daveeddy.com>
 * Modified by: Felipe Vilarinho <me@vila.net.br>
 * Date: April 02, 2025
 * License: MIT
 */

:root {
	--color1: #5fffff;
    --color3: #87ff87;
	--color2: #ff0000;
    --color10: #000000;
    --color6: #111111;
    --color7: #333333;
    --color4: #666666;
    --color5: #c6c6c6;
    --color8: #cacaca;
    --color9: #ffffff;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

.shadow {
	border: 1px solid #87ff8750;
	box-shadow: 0 0 200px #87ff8730;
}

.praetorianShadow {
    border: 1px solid var(--color2);
    box-shadow: 0 0 200px #ff000070;
}

@media (max-width: 875px) {
	.hide-mobile{
		display: none;
	}
}

body {
	background-color: var(--color10);
	color: var(--color5);
	font-size: 15px;
}

body {
	font-family: "JetBrains", monospace;
	font-style: normal;
}

#container {
	margin: auto;
	max-width: 875px;
}

a {
    color: var(--color1);
    text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1 {
    color: var(--color3);
	margin-bottom: 20px;
}

.praetorianTitle {
    color: var(--color2);
}

#top-nav {
	text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color4);
}

#top-nav > ul {
	list-style: none;
	overflow: hidden;
}

#top-nav > ul > li {
	float: left;
}

#top-nav > ul > li.right {
	float: right;
}

#top-nav > ul > li > a {
    padding: 14px 13px;
    display: block;
	color: var(--color5);
    text-align: center;
	text-decoration: none;
}

#top-nav > ul > li a:hover {
	background-color: var(--color7);
}

#top-nav > ul > li .active {
	color: var(--color3);
}

p.content {
	max-width: 850px;
}

#footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
}

#terminal {
    padding: 10px;
	max-height: 650px;
    min-height: 650px;
    line-height: 17px;
	overflow-y: auto;
    font-size: 15px;
    background-color: var(--color6);
    border-radius: 10px;
}

#terminalOutput {
    white-space: pre-wrap;
}

#terminalCursor {
    background-color: var(--color9);
}

.blinkingTerminalCursor {
    animation: blink 1s infinite;
}

.staticTerminalCursor {
    animation: none !important;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

table {
	width: 100%;
	border-collapse: collapse;
	color: var(--color3);
	font-size: 13px;
}

td {
	padding: 1px 12px;
}

th {
	font-weight: bold;
	padding: 10px 12px;
}

tr:nth-child(odd) {
	background-color: var(--color6);
}

tr:hover {
	background-color: var(--color7);
}

.praetorian {
    font-size: 20px;
    font-weight: bold;
    color: var(--color4);
}