/**
 * Default CSS file for the website.
 *
 * Author: Dave Eddy <dave@daveeddy.com>
 * Modified by: Felipe Vilarinho <me@vila.net.br>
 * Date: April 02, 2025
 * License: MIT
 */

/* terminal theme */
:root {
	--color1: #5fffff;
	--color2: #ff87af;
	--color3: #87ff87;
	--color4: #666;
	--color5: #c6c6c6;
    --color6: #ffd7af;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

.center {
	text-align: center;
}

.title {
	color: var(--color3);
}

.highlight {
	color: var(--color3);
}

.hidden {
	display: none;
}

.float-right {
	float: right;
}

.shadow {
	border: 1px solid #87ff8755; /* color3 */
	box-shadow: 0 0 200px #87ff8734;
}

.badShadow {
    border: 1px solid #ff0000; /* color3 */
    box-shadow: 0 0 200px #ff0000;
}

@media (max-width: 650px) {
	.hide-mobile{
		display: none;
	}
}

body {
	background-color: #000;
	color: var(--color5);
	font-size: 15px;
}

body, code {
	font-family: "JetBrains", monospace;
	font-style: normal;
}

#container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	max-width: 835px;
	padding: 0 6px;
}

a, a:visited {
	color: var(--color1);
	text-decoration: none;
}

a:hover span{
	text-decoration: underline;
}

h1.title {
	margin-bottom: 20px;
}

#top-nav {
	text-align: left;
	border-bottom: 1px solid #87ff8755; /* color3 */
    margin-top: 20px;
    margin-bottom: 20px;
}

#top-nav > ul {
	list-style: none;
	overflow: hidden;
}

#top-nav > ul > li {
	float: left;
}

#top-nav > ul > li.right {
	float: right;
}

#top-nav > ul > li > a {
	display: block;
	text-align: center;
	color: var(--color5);
	padding: 14px 13px;
	text-decoration: none;
}

#top-nav > ul > li a:hover {
	background-color: #333;;
}

#top-nav > ul > li .active {
	color: var(--color3);
}

p.content {
	max-width: 620px;
}

.footer {
    text-align: center;
    font-size: 12px;
}

/* terminal display */
pre.terminal {
	background-color: #111;
	min-height: 675px;
	overflow-x: auto;
    border-radius: 10px;
}

#pre.terminal > code {
	font-size: 15px;
    line-height: 15px;
}

/* blinking cursor */
pre.terminal > code::after {
    position: relative;
    top: 2px;
	width: 10px;
	height: 2px;
	background: white;
	display: inline-block;
	animation: cursor-blink 1s step-start infinite;
    content: "";
}

.no-animation::after {
	animation: none !important;
}

@keyframes cursor-blink {
	50% {
		opacity: 0;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	color: var(--color3);
	font-size: 13px;
}

td {
	padding: 1px 12px;
}

th {
	font-weight: bold;
	padding: 10px 12px;
}

tr:nth-child(odd) {
	background-color: #131313;
}

tr:hover {
	background-color: #222;
}

.praetorian {
    font-size: 20px;
    font-weight: bold;
    color: var(--color4);
}